extends layout

block content
    h1= title

    - console.log('book status is:', book_instance.status);
    if book_instance.status === 'Loaned' || book_instance.status === 'Reserved'
        p This book is marked as #{book_instance.status}. Please update before proceeding.
    else
        p Do you really want to delete this book instance?
        form(method='POST' action='')
            div.form-group
                input#bookinstanceid.form-control(type='hidden', name='bookinstanceid', required='true', value=book_instance._id)

            button.btn.btn-primary(type='submit') Delete
